{% extends "admin_base.html" %}
{% block title %}Odlanahor - Orders{% endblock %}
{% block head %}
<head>
    <link rel="stylesheet" href="../../static/styles/orders.css">
</head>
{% endblock %}
{% block content %}

<div class="success-wrap" id="success">
  <div class="success-contents">
      <div class="tick">
          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
      </div>
      <h1>Order Successfully</h1>
      <h1>{{ act }}</h1>
  </div>
</div>

{% endblock %}