{% extends "admin_base.html" %}
{% block title %}Odlanahor - Restock{% endblock %}
{% set active_page = "inventory" %}
{% block style %}
{% include 'inventory/CSS/inventory.css' %}
{% endblock %}
{% block content %}
{% from "includes/formHelper.html" import render_field %}
    <h1 class="text-muted ms-3 mt-3 p-3">
    Inventory Management - Restock
    </h1>

    <form class="bg-white border border-grey rounded-5 me-5 ms-5 p-3" method="POST" action="" enctype="multipart/form-data" >
      <div class="form-group p-1 ">
        {{form.name.label}}
          {{form.name(class="form-control input-fill", value=name  )  }}
      </div>
      <div class="form-group p-1">
        {{ render_field(form.quantity, class="form-control input-fill") }}
      </div>
        <button class="d-flex justify-content-center btn btn-danger border border-0" onclick="show()" data-bs-toggle="modal" data-bs-target="#Modal" type="button">Submit</button>
        <!-- The Modal -->
            <div class="modal" id="Modal">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                      Are you sure you want to add <span id="form-quantity"></span> to <span>{{name}}</span>?
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                      <input type="submit" value="Restock" class="btn btn-primary"/>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>

                </div>
              </div>
            </div>

    </form>
    <div class="justify-content-md-end d-flex">
        <a class="back-btn btn btn-outline-secondary btn-light color-btn me-5 mt-3" href="{{url_for('restock')}}" role="button">Back</a>
    </div>
{% endblock %}
{% block script %}
    <script type="text/JavaScript">
        function show(){
            var quantity = document.getElementById("quantity").value;
            document.getElementById("form-quantity").innerHTML= quantity;
        }
    </script>
{% endblock %}